<div class="container mt-2">
  <div class="row">
      <div class="col-lg-3">
        <div class="row">
          <%= render partial: 'show_leftside', locals: { book: @book, user: @user } %>
        </div>
      </div>

      <div class="col-lg-1">
      </div>

      <div class="col-lg-8">
        <div class="row border-bottom">
          <h2>Users</h2>
        </div>

        <table>

          <tr class="row border-bottom">
            <th class="col">image</th>  
            <th class="col">&nbsp;</th>
            <th class="col">&nbsp;</th>
            <th class="col">&nbsp;</th>
            <th class="col">&nbsp;</th>
            <th class="col">&nbsp;</th>
            <th class="col mr-5">name</th>
          </tr>

        <% @users.each do |user| %>
        <tr class="row">
          <td><%= image_tag user.get_profile_image(100,100) %></td>  
          <th class="col">&nbsp;</th>
          <th class="col">&nbsp;</th>
          <th class="col">&nbsp;</th>
          <td class="col "><%= user.name %></td>  
          <td><%= link_to "Show", user_path(user.id) =%></td>
        </tr>
        <% end %>

        </table>
      </div>
    </div>
  </div>
</div>