  <div class="container d-flex"> 

  <%= render 'show_leftside', book: @book, user: @user %>

    <div class="col-lg-7">
    <div class="row border-bottom">
      <h2>Books</h2>
    </div>
      <table>
        <thead>
          <tr>
            <th colspan="1"></th>
            <th>title</th> 
            <th>opinion</th>
          </tr>
        </thead>
          <% @books.each do |book| %>
        <tbody>
            <tr>
              <td><%= image_tag @user.get_profile_image(100,100) %></td>
              <td><%= book.title %></td>
              <td><%= book.opinion %></td>
            </tr>
        </tbody>
          <% end %>
      </table>
    </div>
  </div>