<div class="container d-flex justify-content-center">
  <div class="row pt-4">
    <div class="col">
      <h1>Welcome to <strong><i class="fa-solid fa-book"></i>Bookers!!</strong></h1>
    </div>
  </div>
</div>