<div class="container d-flex">
  <div class="row mx-auto flex-column mt-2">
    <div class="row">
      <div class="col ">
        <h1>welcome to <strong><i class="fa-solid fa-book"></i>Bookers!!</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
        In <strong><i class="fa-solid fa-book"></i>Bookers</strong>,<br>
        you can share and exchange your opinions , inpressions , and emotions<br>
        about various books!
        </p>
      </div>
    </div>

        <%= link_to new_user_session_path do%>
          <div class="row d-grid">
            <div class="col btn btn-info mb-2">
              <span>Log in</span>
            </div>
          </div>
        <% end %>
        <%= link_to  new_user_registration_path do%>
          <div class="row d-grid">
            <div class="col btn btn-success">
              <span>Sign up</span>
            </div>
          </div>
        <% end %>
      </div>
    </div> 
  </div>
</div>